html, body{
	height: 100%;
	background-color: white;
	overflow: hidden;
}

.container-fluid{
	position: relative;
}

h1{
	color: black;
	font-size: 100px;
	/*font-family: 'Merriweather Sans', sans-serif;*/
	font-family: 'Lora', serif;
}

p{
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#background{
	width: 100%;
	height: auto;
	display: block;
	position: fixed;
	opacity: 0.60;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
    filter: grayscale(10%);
}

#parent {
	width: 80%;
	margin-top: 15%;
	margin-left: 10%;
	margin-right: 10%;
	position: absolute;
	z-index: 3;
}

#child {
	text-align: center;
	position: relative;
	z-index: 2;
	padding: 0%10%5%10%;
	/*margin: auto;  /* Magic! */
}

#child2 {
	background-color: white;
	opacity: 0.40;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

#icon{
	height: 50px;
	width: 50px;
	margin-left: 20px;
	margin-right: 20px;
}
