html, body{
	height: 100%;
	background-color: white;
	overflow: hidden;
}

.container-fluid{
	position: relative;
}

h1{
	color: black;
	font-size: 100px;
	/*font-family: 'Merriweather Sans', sans-serif;*/
	font-family: 'Lora', serif;
	font-weight: 700;
	font-style: italic;
}

p{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#background{
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	opacity: 0.60;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
    filter: grayscale(10%);
}

#gparent{
	display: flex;
	height: 100%;
	width: 100%;
}

#parent {
	width: 80%;
	margin: auto;
	z-index: 3;
}

#child {
	text-align: center;
	position: relative;
	z-index: 2;
	padding: 0%5%5%5%;
	/*margin: auto;  /* Magic! */
}

#child2 {
	background-color: white;
	opacity: 0.40;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

#icon{
	height: 50px;
	width: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

@media only screen and (max-width: 700px){
	h1{
		font-size: 60px;
	}
	p{
		font-size: 20px;
	}
	#background{
		width: auto;
	}
	#icon{
		height: 40px;
		width: 40px;
		margin-left: 10px;
		margin-right: 10px;
	}
	#parent{
		width: 95%;
	}
	#child{
		padding: 0%0%5%0%;
	}
}
